.main-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  a {
    color: #2F76BB;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;

    &:hover {
      border-bottom: 5px solid #FBC270; /* Add a colored line when hovering */
    }
  
  }
}
