.addplayer-container{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 20px;
 }
 
   ul {
    list-style-type: none; 
  }

  .addplayerinput {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    padding-bottom: 50px;

  }

  input, button {
    font-family: "McLaren", cursive;
  }

p {
  text-align: center;
}
  
.add-player-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.add-player-item {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px; 
 
}

.add-player-info {
  margin-bottom: 10px; 
}

.add-player-avatar {
  max-width: 100%;
  height: auto;
}