.form-page {
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  background-image: url('../assets/pickle.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  
}

.form-container {
  flex: 1 1 100%; /* Take up full width */
  max-width: 400px; /* Adjust max-width as needed */
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc; /* Border styles */
  background-color: #faf3e5;
  
  
  h2 {
    margin-bottom: 10px;
    color: #1c1f4c;
  }

  label {
    display: block;
    margin-bottom: 10px;

    input,
    select {
      font-family: "McLaren", cursive;
      margin-top: 5px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      width: 100%;
    }
  }

  button {
    font-family: "McLaren", cursive;
    padding: 10px 20px;
    background-color: #1c1f4c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 100%; /* Button width set to 100% */
    margin-top: 10px; /* Add margin at the top */
  }

  .error-message {
    color: red;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
  }
  .time-select {
    display: flex;
    align-items: center;

    &__input {
      display: flex;
      align-items: center;
      margin-left: 0.5rem;
    }

    &__hour {
      margin-right: 0.5rem;
    }

    &__minute {
      margin-left: 0.5rem;
    }
  }

}
.form-container:hover {
  /* Add styles to apply when the form container is hovered over */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

// .additional-content {
//   flex: 1 1 100%; /* Take up full width */
//   margin-top: 20px; /* Add margin at the top */
//   max-width: 400px; /* Adjust max-width as needed */
// }

// .faq-section {
//   max-width: 100%; /* Adjust max-width as needed */
//   padding: 20px; /* Add padding for spacing */

//   .faq-question {
//     font-size: 24px; /* Question font size */
//     font-weight: bold; /* Question font weight */
//     margin-bottom: 10px; /* Add spacing below the question */
//   }

//   .faq-answer {
//     font-size: 16px; /* Answer font size */
//     margin-bottom: 20px; /* Add spacing below the answer */
//   }

//   .faq-submit-court {
//     margin-top: 20px; /* Add spacing above the submit court link */
//     font-size: 16px; /* Submit court link font size */
//     color: blue; /* Submit court link color */
//     text-decoration: underline; /* Underline the submit court link */
//     cursor: pointer; /* Show pointer cursor on hover */
//   }
// }

@media (max-width: 600px) {
  .form-container {
    max-width: 100%; /* Adjust max-width as needed */
  }

  .additional-content {
    max-width: 100%; /* Adjust max-width as needed */
  }
}
